.carrossel {
    max-width: 1400px;
    height: 180px;
    margin: 140px auto 40px;
    position: relative;
    .arrows {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 40px;
                height: 40px;
            }
            :nth-child(2) {
                float: right;
            }
        }
    .carrossel-container {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        font-size: 0;
        position: relative;
        overflow: hidden;
        li {
            display: inline-block;
            img {
                height: 180px;
                width: 200px;
            }
        }
    }
    
    .container-view {
        position: absolute;
        left: -100px;
        width: 400000px;
    }
}