.carrossel {
    width: 1200px;
    height: 140px;
    margin: 140px auto 40px;
    background-color: $dark-gray;
}

/* 

Na dúvida quanto à criação geral semântica do carrossel: são apenas uma ul de imagens dentro dos li posto em inline block?

As setas laterais, como se põem?

*/