.category {
    text-align: center;
    margin-top: 100px;
    h1 {
        font-variant: small-caps;
        font-size: 60px;
        padding: 40px 0 20px;
        @include mq(0,800px) {
            text-align: left;
            padding-left: 60px;
        }
    }
    p {
        font-family: "courier new", serif;
        font-size: 18px;
        color: $dark-gray;
        @include mq(0,800px) {
            text-align: left;
            padding-left: 60px;
        }        
    }
    .category-grid {
        margin-top: 40px;
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto;
        grid-gap: 100px 0;
        @include mq(0,800px) {
            grid-template-columns: auto;
        }
        .item1, .item2, .item3, .item4 {
            background-color: white;
            padding-bottom: 40px;
            &:hover {
                border: solid 4px $success-l2;
            }
        }
    }
}