$lightest-gray: #e6e6e6;
$light-gray: #e3e2e3;
$dark-gray: #777777;
$darkest-gray: #706e70;
$dark: #313131;
$black: #1d1d1d;

$primary: #EBBD88;
$success: #55BA4D;
$info: #034480;
$warning: #FFD002;
$danger: #FF3903;


/* d stands for darker and l for lighter — full palette in figma */

$primary-d1: #E7B172;
$primary-d2: #E3A65D;
$primary-l1: #EFCAA0;
$primary-l2: #F3D8BA;
$primary-l3: #F7E6D4;
$primary-l4: #FCF6EF;

$success-d1: #4BAC43;
$success-d2: #449D3D;
$success-d3: #3E8F38;
$success-l1: #67C160;
$success-l2: #79C873;
$success-l3: #8CD087;
$success-l4: #A1D99D;
$success-l5: #B8E2B5;

$info-l1: #035097;
$info-l2: #035EB2;
$info-l3: #036ED2;
$info-l4: #0482F7;
$info-l5: #2594FB;
$info-l6: #4FA9FC;
$info-l7: #80C1FD;
$info-l8: #B8DCFE;

$warning-d1: #DDB400;
$warning-d2: #BE9B00;
$warning-d3: #A38500;
$warning-d4: #8C7200;
$warning-l1: #FFD726;
$warning-l2: #FFDF4F;
$warning-l3: #FFE87E;
$warning-l4: #FFF2B3;

$danger-l1: #FF4816;
$danger-l2: #FF582B;
$danger-l3: #FF6A41;
$danger-l4: #FF7D59;
$danger-l5: #FF9071;
$danger-l6: #FFA48B;
$danger-l7: #FFBAA7;
$danger-l8: #FFD1C5;

$black-d: #07090C;
$black-l1: #181F2A;
$black-l2: #273243;
$black-l3: #384860;
$black-l4: #435673;
$black-l5: #566F93;
$black-l6: #748BAE;
$black-l7: #8A9EBB;
$black-l8: #B5C1D4;