footer {
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 0 40px;
    font-size: 0;
    @include mq(0,1024px) {
        margin-bottom: 100px;
    }
    .col {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        padding: 20px;
        @include mq(0,1024px) {
            width: 100%;
            text-align: center;
            p {
                margin: 20px auto;
                width: 200px;
            }
        }
        h3 {
            font-variant: small-caps;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            color: $dark;
        }
        ul {
            line-height: 36px;
            color: $dark-gray;
            a {
                color: $dark-gray;
                &:hover {
                    color: $success-d3;
                }
            }
        }
        p {
            color: $darkest-gray;
            font-size: 14px;
            line-height: 28px;
            font-weight: 500;
        }
        .social-media {
            li {
                display: inline-block;
                margin: 20px 10px 20px 0;
                img {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}
