.hero-header {
    width: 100vw;
    display: block;
    text-align: center;
    margin-top: 140px;
    height: 70vh;
    @include mq(0,1024px){
        margin-top: 100px;
    }
    .hero-container {
        padding-top: 80px;
        margin: auto;
        display: block;
        width: 80%;
        @include mq(0,800px) {
            padding-top: 120px;
        }
        @include mq(0,375px) {
            padding-top: 80px;
        }
    }
    .hero-slider {
        opacity: 70%;
        z-index: -1;
        position: absolute;
        width: 100vw;
        div {
            height: 68vh;
        }
        .hero-img-1, .hero-img-2, .hero-img-3 {
            content: "";
            background-repeat: none;
            background-size: cover;
        }
        .hero-img-1 {
            background-image: url(/img/photos/hero1.JPG);
        }
        .hero-img-2 {
            background-image: url(/img/photos/hero2.JPG);
        }
        .hero-img-3 {
            background-image: url(/img/photos/hero3.JPG);
        }
    }
    h1 {
        font-size: 88px;
        font-weight: 600;
        font-variant: small-caps;
        margin-bottom: 40px;
        color: $primary-l4;
        @include mq(0,1024px){
            font-size: 64px;
        }
        @include mq(0,375px){
            margin-bottom: 20px;
            font-size: 60px;
            max-width: 500px;
        }
    }
    h3 {
        max-width: 600px;
        margin: 0 auto;
        line-height: 24px;
        font-family: "Courier new", serif;
        font-size: 18px;
        font-weight: bold;
        color: $dark;
        @include mq(0,1024px){
            font-size: 16px;
        }
        @include mq(0,375px){
            width: 280px;
            text-align: left;
        }
    }
    button {
        margin-top: 100px;
        padding: 14px 28px;
        border: solid 3px $primary-l4;
        background: none;
        color: $primary-l4;
        font-variant: small-caps;
        font-weight: 600;
        font-size: 20px;
        &:hover {
            color: white;
            background: $primary;
            border-color: $primary;
        }
        @include mq(0,1024px){
            background: $primary;
            color: white;
            margin-top: 32px;
            border: $primary;
        }
        @include mq(0,375px){
            margin-top: 20px;
            width: 100%;
        }
    }
}