.hero-header {
    display: block;
    height: 66%;
    text-align: center;
    padding-top: 10%;
    margin-top: 200px;
    .hero-container {
        margin: auto;
        display: block;
        width: 80%;
    }
    h1 {
        font-size: 88px;
        font-weight: 300;
        font-variant: small-caps;
        margin: 40px 0;
        @include mq(0,375px){
            margin-top: 60px;
            text-align: left;
            font-size: 60px;
            max-width: 500px;
        }
    }
    h3 {
        max-width: 600px;
        margin: 0 auto;
        line-height: 24px;
        font-family: "Courier new", serif;
        font-size: 18px;
        color: gray;
        @include mq(0,375px){
            width: 280px;
            font-size: 16px;
            text-align: left;
            margin: 20px 0 40px;
        }
    }
    button {
        margin-top: 100px;
        padding: 14px 28px;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: $success;
        background: white;
        color: $success;
        font-variant: small-caps;
        font-size: 20px;
        &:hover {
            color: white;
            background: $success;
            border-color: $success;
        }
        @include mq(0,375px){
            margin-top: 60px;
            width: 100%;
        }
    }
}